@import "reset";
@import "variables/global";


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav {
    display: flex;
    gap: 40px;
  }

  .menu {
    display: flex;
  }
}

.offer {
  height: 644px;
  background-image: url("../public/img-hero.svg");
  background-size: cover;
  border-radius: 40px;
  padding: 100px;

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 530px;
    row-gap: 40px;
  }
}

.favorite {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
  }

  .line-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .line {
      width: 40px;
      height: 4px;
      border-radius: 100px;
      background-color: var(--border-color-dark);
      margin: 0 10px;
    }
  }


}

